---
import type { Property } from "../types/hygraph";
import PropertyCard from "./PropertyCard";

interface Props {
  properties: Property[];
  numberOfNights: number;
  estimatedAttendees: number;
}

const { properties, numberOfNights, estimatedAttendees } = Astro.props;
---

<div class="bg-gray-100 px-3 py-5 border">
  <h3 class="font-medium text-2xl pb-10 pl-5">Property Picks</h3>
  <div 
    class="grid grid-flow-row auto-rows-max gap-5 justify-items-center" 
    style="grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));"
  >
    {
      properties.map((property) => (
        <PropertyCard
          client:load
          estimatedAttendees={estimatedAttendees}
          numberOfNights={numberOfNights || 0} 
          property={property}
        />
      ))
    }
  </div>
</div>
