---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

const { title, theme } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title}  />
	</head>

	<body>
		<Header />
		<main class="font-quicksand">
			<article class="px-3 pb-10">
				<div class="prose">
					<div class="w-full p-3 md:p-5 flex flex-col items-center pb-10">
						<h1 class="text-2xl">{title}</h1>
						<h2 class="text-5xl font-rubik">{theme}</h2>
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
